@font-face {
  font-family: "Protest";
  src: url("../../assets/fonts/Protest_Revolution/ProtestRevolution-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  font-familiy: "Protest";
  font-family: "Protest", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border: solid;
  border-color: black;
  padding: 15px;
  margin: 5px;
  text-align: left;
  width: 650px;
}
